<!-- <ui-select class="cabecera-input" ng-model="ac.lineas[$index].articulo.medida" theme="bootstrap" ng-disabled="ac.disabled" title="sc.title" ng-disabled="!ac.lineas[$index].articulo"> -->
<!-- <p >{{sc.entidad.nombre}}</p> -->

<form class="form-horizontal" >
<small >{{sc.entidad.nombre}}</small>
    <div class="form-group" ng-init="sc.cargarDatos($select)">
        
             
            <ui-select class="btn-group bootstrap-select form-control" ng-model="sc.ultimaEntidad" title="{{sc.entidad.title}}" on-select="sc.onSelect($item)" append-to-body="true" >
                
                <ui-select-match placeholder="{{sc.entidad.placeholder}}" popover-popup-delay="750" uib-popover="{{sc.entidad.toolTip}}" popover-trigger="mouseenter" popover-placement="bottom">{{sc.cargarCampos($select)}}</ui-select-match>
                <ui-select-choices repeat="entidad in sc.entidades | propsFilter: {[sc.entidad.campos[0]]: $select.search}">
                   <div ng-bind-html="entidad[sc.entidad.campos[0]] | highlight: $select.search">
                        
                    </div>
                     <small ng-repeat="subcampo in sc.entidad.subcampos">
                        {{subcampo}}: <span ng-bind-html="''+ entidad[subcampo] | highlight: $select.search"></span> 
                                               <!--  email: {{person.email}}
                                                age: <span ng-bind-html="''+person.age | highlight: $select.search"></span> -->
                    </small>
                </ui-select-choices>
            </ui-select>
      
    </div>
</form>
